.navbar{
    background: linear-gradient(90deg,#FF8E61, #E86C58 );
}
.ci{
    border-radius: 50%;
}
body{
    background:url(image/presen.jpg) no-repeat center;
    background-size: cover;
    
}
.pp{
    opacity: 95%;
}
p{
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
}
h5{
    font-family: 'Roboto', sans-serif;
}
h3{
    border-bottom: solid black;
}
.card{
    background: linear-gradient(90deg,#FF8E61, #E86C58 );
}
.content{
    margin: 2em;
}
div{
    font-family: 'Roboto', sans-serif;
}
footer{
    background: linear-gradient(90deg,#FF8E61, #E86C58 );
    font-family: 'Roboto', sans-serif;
}
.tconta{
    border-bottom: solid black;
}